.fa-plus {
    cursor: pointer;
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    font-size: 1.2em;
    font-weight:400;
}

.address-group {
    margin: 10px 0;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.help-block {
    font-size: 0.8em;
    color: red;
}